In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

## Cleaning the Movies Dataset

In [2]:
# Read in movie dataframe from Kaggle 
# Link to dataset is: https://www.kaggle.com/tmdb/tmdb-movie-metadata?select=tmdb_5000_movies.csv
movie_file = '01_Starting_Datasets/tmdb_5000_movies.csv'
movies_df = pd.read_csv(movie_file)
movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",12/10/2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",5/19/2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",7/16/2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
3,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",3/7/2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
4,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,559,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",5/1/2007,890871626,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576

In [3]:
# Get a list of the columns in the dataframe
movies_df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [4]:
# Get a count of how many columns in dataframe
len(movies_df.columns)

20

In [5]:
# Delete columns that will not be used in this code
movies_df = movies_df.drop('budget', axis=1)
movies_df = movies_df.drop('homepage', axis=1)
movies_df = movies_df.drop('original_title', axis=1)
movies_df = movies_df.drop('overview', axis=1)
movies_df = movies_df.drop('popularity', axis=1)
movies_df = movies_df.drop('production_countries', axis=1)
movies_df = movies_df.drop('release_date', axis=1)
movies_df = movies_df.drop('revenue', axis=1)
movies_df = movies_df.drop('runtime', axis=1)
movies_df = movies_df.drop('spoken_languages', axis=1)
movies_df = movies_df.drop('status', axis=1)
movies_df = movies_df.drop('tagline', axis=1)
movies_df = movies_df.drop('vote_average', axis=1)
movies_df = movies_df.drop('vote_count', axis=1)
movies_df.head()

,genres,id,keywords,original_language,production_companies,title
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",Avatar
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",Pirates of the Caribbean: At World's End
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",The Dark Knight Rises
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",John Carter
4,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",559,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",Spider-Man 3

In [6]:
# Clean up the genres and keywords columns
for x in range(len(movies_df)):
    # Genre Clean up
    html_genre = movies_df['genres'][x].split(",")
    
    genre_trimmed = ""
    genre = ""
    for i in range(1,len(html_genre),2):
        genre = html_genre[i].replace('"name": "',"")
        genre = genre.replace('"}',"")
        genre = genre.replace(']',"")
        genre_trimmed = genre_trimmed + " " + genre
    
    movies_df['genres'][x] = genre_trimmed
    
    
    # Keyword Cleanup
    html_keyword = movies_df['keywords'][x].split(",")
    
    keyword_trimmed = ""
    keyword = ""
    for i in range(1,len(html_keyword),2):
        keyword = html_keyword[i].replace('"name": "',"")
        keyword = keyword.replace('"}',"")
        keyword = keyword.replace(']',"")
        keyword_trimmed = keyword_trimmed + " " + keyword
    
    movies_df['keywords'][x] = keyword_trimmed

<ipython-input-6-14e91abbfbfe>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['genres'][x] = genre_trimmed
<ipython-input-6-14e91abbfbfe>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['keywords'][x] = keyword_trimmed

In [7]:
# Cleanup the production_companies column
for x in range(len(movies_df)):
    html_comp = movies_df['production_companies'][x].split(",")
    
    comp_trimmed = ""
    comp = ""
    for i in range(0,len(html_comp),2):
        comp = html_comp[i].replace('{"name": "',"")
        comp = comp.replace("[" , "")
        comp = comp.replace('"', '')
        comp_trimmed = comp_trimmed + " " + comp
    
    movies_df['production_companies'][x] = comp_trimmed
movies_df.head()

<ipython-input-7-c4cfa33d3a00>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['production_companies'][x] = comp_trimmed

,genres,id,keywords,original_language,production_companies,title
0,Action Adventure Fantasy Science Fiction,19995,culture clash future space war space colo...,en,Ingenious Film Partners Twentieth Century Fo...,Avatar
1,Adventure Fantasy Action,285,ocean drug abuse exotic island east india...,en,Walt Disney Pictures Jerry Bruckheimer Films...,Pirates of the Caribbean: At World's End
2,Action Crime Drama Thriller,49026,dc comics crime fighter terrorist secret ...,en,Legendary Pictures Warner Bros. DC Entertai...,The Dark Knight Rises
3,Action Adventure Science Fiction,49529,based on novel mars medallion space trave...,en,Walt Disney Pictures,John Carter
4,Fantasy Action Adventure,559,dual identity amnesia sandstorm love of o...,en,Columbia Pictures Laura Ziskin Productions ...,Spider-Man 3

## Cleaning the Credits Dataset

In [8]:
# Read in credits dataframe from Kaggle
# This comes from the same kaggle link as the movie dataframe
credits_file = '01_Starting_Datasets/tmdb_5000_credits.csv'
credits_df = pd.read_csv(credits_file)
credits_df.head()

,movie_id,title,cast
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa..."
2,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba..."
3,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c..."
4,559,Spider-Man 3,"[{""cast_id"": 30, ""character"": ""Peter Parker / ..."

In [9]:
# Delete columns that will not be used in this code
credits_df = credits_df.drop('title', axis=1)

In [10]:
# Change movie_id to id
credits_df = credits_df.rename(columns={'movie_id': 'id'})

In [11]:
# Cleanup the production_companies column
for x in range(len(movies_df)):
    # Some production companies are a float datatype so I have to skip these
    delete_rows = []
    if type(credits_df['cast'][x]) is float:
        delete_rows.append(x)
    else:
        html_cast = credits_df['cast'][x].split(",")
        
        cast_trimmed =""
        cast = ""
        # Some movies have large casts of more than 50 actors/actresses. 
        # I do not want all these people in the dataframe
        # I only want the stars so I am only going to keep the 5 starring actors/actresses for each movie
        # On the flip side some movies have less than 5 actors/actresses listed
        if len(html_cast)< 40:
            for i in range(5,len(html_cast),7):
                cast = html_cast[i].replace('"name": ','')
                cast = cast.replace('"','')
                cast_trimmed = cast_trimmed + " " + cast
        else:
            for i in range(5,40,7):
                cast = html_cast[i].replace('"name": ','')
                cast = cast.replace('"','')
                cast_trimmed = cast_trimmed + " " + cast
    
        credits_df['cast'][x] = cast_trimmed

credits_df.head()

      id                                               cast
0  19995    Sam Worthington  Zoe Saldana  Sigourney Weav...
1    285    Johnny Depp  Orlando Bloom  Keira Knightley ...
2  49026    Christian Bale  Michael Caine  Gary Oldman  ...
3  49529    Taylor Kitsch  Lynn Collins  Samantha Morton...
4    559    Tobey Maguire  Kirsten Dunst  James Franco  ...

## Merge the Datasets

In [12]:
# Convert id in movies_df to string 
movies_df['id'] = movies_df['id'].apply(str)

In [13]:
# Merge the dataframes
merge_df = pd.merge(movies_df, credits_df, on="id", how="inner")
print(len(merge_df))

4802

In [14]:
merge_df.count()

genres                  4802
id                      4802
keywords                4802
original_language       4802
production_companies    4802
title                   4802
cast                    4802
dtype: int64

Since all columns have the same count I know there are no null values

In [15]:
# Make the index its own column
merge_df["index"] = merge_df.index

In [16]:
merge_df.head()

,genres,id,keywords,original_language,production_companies,title,cast,index
0,Action Adventure Fantasy Science Fiction,19995,culture clash future space war space colo...,en,Ingenious Film Partners Twentieth Century Fo...,Avatar,Sam Worthington Zoe Saldana Sigourney Weav...,0
1,Adventure Fantasy Action,285,ocean drug abuse exotic island east india...,en,Walt Disney Pictures Jerry Bruckheimer Films...,Pirates of the Caribbean: At World's End,Johnny Depp Orlando Bloom Keira Knightley ...,1
2,Action Crime Drama Thriller,49026,dc comics crime fighter terrorist secret ...,en,Legendary Pictures Warner Bros. DC Entertai...,The Dark Knight Rises,Christian Bale Michael Caine Gary Oldman ...,2
3,Action Adventure Science Fiction,49529,based on novel mars medallion space trave...,en,Walt Disney Pictures,John Carter,Taylor Kitsch Lynn Collins Samantha Morton...,3
4,Fantasy Action Adventure,559,dual identity amnesia sandstorm love of o...,en,Columbia Pictures Laura Ziskin Productions ...,Spider-Man 3,Tobey Maguire Kirsten Dunst James Franco ...,4

In [17]:
merge_df.to_csv("02_Clean_Dataset/movies.csv", index=False, header=True)